.savedJSONPathsContainer {
  position: absolute;
  width: 60%;
  height: 600px;
  top: 20%;
  left: 20%;
  // margin: -200px 0 0 -300px;
  background-color: white;
  // border: 1px solid grey;
  box-shadow: 0px 0px 30px 10px rgb(201, 201, 201);
  padding: 1%;

  .savedResultsRow {
    margin: 1%;
    height: 84%;
  }

  .actions {
    text-align: right;
    margin-right: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
