.schemaValidatorContainer {
  margin-top: 65px;
  width: 100%;
  height: calc(100vh - 65px - 30px);

  .pathInput {
    text-align: center;

    div {
      margin-top: 26px;

      button {
        width: 40%;
      }
    }
  }

  .objectSchemaRow {
    margin-top: 16px;
    margin-right: 1px;
    margin-left: 1%;

    .objectCol,
    .schemaCol {
      margin: 6px;
    }
  }

  .validationResultsRow {
    div {
      margin-top: 6px;
      padding-left: 46px;

      .validStatus {
        font-size: 1.2rem;
        color: rgb(0, 150, 0);
        margin-left: 6px;
      }

      .invalidStatus {
        font-size: 1.2rem;
        color: rgb(201, 0, 0);
        margin-left: 6px;
      }
    }
  }
}
